doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="css/styles.css")
    body
        .asset
        .general-container
            .center-container
                h1.gotham-light R O C K T E C H
                p rocktech.mx